#----Server------------------------------------------------------
NODE_ENV=development
PORT=4000

#----Database------------------------------------------------------
# format: postgresql://USER:PASSWORD@HOST:PORT/DATABASE?schema=SCHEMA
DATABASE_URL="postgresql://postgres:password@localhost:5432/pan-wallet?schema=public"

#----JWT-----------------------------------------------------------
# Generate with: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_ACCES_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here
JWT_ACCESS_EXPIRATION=15m
JWT_REFRESH_EXPIRATION=7d

#----Security------------------------------------------------------
BCRYPT_ROUNDS=12
CORS_ORIGINS=http://localhost:3000,http://localhost:8081

#----Rate Limiting-------------------------------------------------
# How many requests per window before blocking
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX=100
AUTH_RATE_LIMIT_MAX=10

#----Wallet Defaults (Sprint 1)---------------------------------------------
DEFAULT_WALLET_PROVIDER=PANWALLET_INTERNAL
DEFAULT_WALLET_CURRENCY=KES

#----Admin Seed (optional)-------------------------------------------------
# Only used when running: npm run seed
SEED_ADMIN_EMAIL=
SEED_ADMIN_USERNAME=
SEED_ADMIN_PASSWORD=

#----- Firebase -------------------------------------------------------------
FIREBASE_PROJECT_ID=your-firebase-project-id
FIREBASE_CLIENT_EMAIL=your-service-accouunt-email@project.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE------\N"

#----- M-Pesa (Daraja) -------------------------------------------------------
# Get your credentials from developer.safaricom.co.ke -> My Apps
MPESA_CONSUMER_KEY=your-mpesa-consumer-key
MPESA_CONSUMER_SECRET=your-mpesa-consumer-secret
M-PESA_SHORTCODE=174379
M-PESA_PASSKEY= bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
M-PESA_BASE_URL=https://sandbox.safaricom.co.ke

#----- Orange Money (API) -------------------------------------------------------
# Get your credentials from developer.orange.com -> My Apps
ORANGE_MONEY_CLIENT_ID=your-orange-money-client-id
ORANGE_MONEY_CLIENT_SECRET=your-orange-money-client-secret  
ORANGE_MONEY_BASE_URL=https://api.orange.com/orange-money-webpay/dev/v1

# ----- Exchange Rate API -------------------------------------------------------
# Get your credentials from exchangerate-api.com 
EXCHANGE_RATE_API_KEY=your-exchange-rate-api-key
EXCHANGE_RATE_API_BASE_URL=https://v6.exchangerate-api.com/v6